.input_wrapper {
    background-color: rgb(236 242 246);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 3px;
}

.input {
    background-color: transparent;
    border: none;
    height: 100%;
}

.input:focus {
    outline: none;
}